[mandrill]
mail.username = {{ mandrill_mail_username }}
mail.password = {{ mandrill_mail_password }}

[velruse.reddit]
velruse.reddit.consumer_key = {{ velruse_reddit_consumer_key }}
velruse.reddit.consumer_secret = {{ velruse_reddit_consumer_secret }}
velruse.reddit.user_agent = {{ velruse_reddit_user_agent }}

[centrifuge]
centrifuge.secret_key = {{ centrifuge_secret_key }}
centrifuge.project_id = {{ centrifuge_project_id }}
