{
    "password": "{{ cent_conf.password }}",
    "cookie_secret": "{{ cent_conf.cookie_secret }}",
    "api_secret": "{{ cent_conf.api_secret }}",
    "structure": {
        "storage": "centrifuge.structure.{{ cent_conf.storage_class }}.Storage",
        "update_interval": {{ cent_conf.update_interval }},
        "settings": {
            "host": "{{ cent_conf.pg_host }}",
            "port": {{ cent_conf.pg_port }},
            "name": "{{ cent_conf.pg_name }}",
            "password": "{{ cent_conf.pg_password }}",
            "user": "{{ cent_conf.pg_user }}",
            "pool_size": {{ cent_conf.pg_pool_size }}
        }
    },
   "state": {
        "storage": "centrifuge.state.{{ cent_conf.state_class }}.State",
        "settings": {
            "host": "{{ cent_conf.redis_host }}",
            "port": {{ cent_conf.redis_port }},
            "password": "{{ cent_conf.redis_password }}"
        }
    }
}
