{% for vagrant in vagrant.results %}
[{{ vagrant.instances.0.name.split('-')[0] }}]
{{ vagrant.instances.0.name }} ansible_ssh_host={{ vagrant.instances.0.internal_ip }} ansible_ssh_port={{ ssh_port }} remote_user={{ admin_username }}
{% endfor %}
